jorgebucaran/fisher
patrickf1/fzf.fish
jethrokuan/z
franciscolourenco/done
jorgebucaran/autopair.fish
danhper/fish-ssh-agent
gazorby/fish-abbreviation-tips
{{- if eq .chezmoi.os "darwin" }}
lilyball/nix-env.fish
{{ else if eq .chezmoi.os "linux" }}
{{ end }}
