# Add DevBox
if type -q devbox
    eval "$(devbox global shellenv)"
end

alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

# Color
alias grep='grep --color=auto'
alias ll='ls -lh'

# Convenient shortcuts
alias g='grep -i'
alias bat='bat --paging never --style=plain --wrap never'

alias cls='printf "\033c"'

function mk
    set dirName $argv[1]
    mkdir -p "$dirName" && cd "$dirName"
end

function rp
    set FROM $argv[1]
    set TO $argv[2]
    echo "Replacing $FROM for $TO"
    find . -type f -not -path './node_modules/*' -not -path '*/\.*' -exec sed -i -e s/$FROM/$TO/g {} \;
end


export EDITOR='nvim'
export LANG=en_US.UTF-8

{{ if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv)"
fish_add_path -p /usr/local/opt/coreutils/libexec/gnubin
fish_add_path /opt/local/bin
fish_add_path /opt/local/sbin

{{ end }}

fish_add_path $HOME/.cargo/bin
fish_add_path $HOME/.local/bin

alias cz=chezmoi

export NIXPKGS_ALLOW_UNFREE=1

if status is-interactive
    atuin init fish --disable-up-arrow | source
end
