alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

# Color
alias grep='grep --color=auto'
alias ll='ls -lh'

# Convenient shortcuts
alias g='grep -i'
alias a='ag -i'


alias cls='printf "\033c"'

function cat
    if type -q bat
        bat --paging never --style=plain --wrap never $argv
    else
        cat $argv
    end
end

function mk
    set dirName $argv[1]
    mkdir -p "$dirName" && cd "$dirName"
end

function rp
    set FROM $argv[1]
    set TO $argv[2]
    echo "Replacing $FROM for $TO"
    find . -type f -not -path './node_modules/*' -not -path '*/\.*' -exec sed -i -e s/$FROM/$TO/g {} \;
end


function yt
    youtube-dl "$1" -f 'bestvideo[ext!=webm][width<=2560]+bestaudio[ext!=webm]/best[ext!=webm]' --merge-output-format mp4
end

export EDITOR='vim'
export LANG=en_US.UTF-8

# Auto call 'ls' after cd
# function chpwd() {
#     emulate -L zsh
#     ls --color=auto
# }

{{ if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv)"
fish_add_path -p /usr/local/opt/coreutils/libexec/gnubin
fish_add_path /opt/local/bin
fish_add_path /opt/local/sbin

{{ end }}

fish_add_path $HOME/.cargo/bin
fish_add_path $HOME/.local/bin

alias cz=chezmoi

export NIXPKGS_ALLOW_UNFREE=1

if status is-interactive
    atuin init fish --disable-up-arrow | source
end
