#!/usr/bin/env fish

{{ if eq .chezmoi.os "darwin" }}
fish_add_path $HOME/src/flutter/flutter/bin
fish_add_path $HOME/src/flutter/flutter/bin/cache/dart-sdk/bin

export NDK="$HOME/Library/Android/sdk/ndk-bundle"
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$HOME/Library/Android/sdk
export ANDROID_AVD_HOME=$HOME/.android/avd

fish_add_path $ANDROID_SDK_ROOT/emulator
fish_add_path $ANDROID_SDK_ROOT/tools
fish_add_path $ANDROID_SDK_ROOT/platform-tools

# Ruby
fish_add_path /usr/local/lib/ruby/gems/3.0.0/bin
fish_add_path /usr/local/opt/ruby/bin
fish_add_path $HOME/.gem/ruby/3.0.0/bin
fish_add_path $HOME/.gem/ruby/2.6.0/bin
fish_add_path $HOME/.gem/bin
fish_add_path $HOME/.fastlane/bin

{{ else if eq .chezmoi.os "linux" }}

export CHROME_EXECUTABLE=google-chrome-stable
export ANDROID_HOME="$HOME/Android"
export ANDROID_SDK_ROOT="$ANDROID_HOME"

fish_add_path /opt/android-sdk/cmdline-tools/latest-2/bin
fish_add_path /opt/android-sdk/cmdline-tools/latest/bin
fish_add_path /opt/android-sdk/emulator
fish_add_path /opt/android-sdk/platform-tools

{{ end }}

fish_add_path $HOME/.pub-cache/bin

alias fa='flutter analyze'

function __dart_getTestFiles
    if test -z $argv
        set FILE_NAME $(fd '.*_test.dart' | fzf)
    else
        set FILE_NAME $(fd '.*_test.dart' | fzf -1 -q $argv)
    end

    echo $FILE_NAME
end

function __add_history_entry
  begin
    flock 1
    and echo -- '- cmd:' (
      string replace -- \n \\n (string join ' ' $argv) | string replace \\ \\\\
    )
    and date +'  when: %s'
  end >> $__fish_user_data_dir/fish_history
  and history merge
end

function dt
    set TEST_FILE $(__dart_getTestFiles $argv)
    if test -z "$TEST_FILE"
        return
    end

    echo "dart test $TEST_FILE"
    __add_history_entry "dart test $TEST_FILE"
    dart test "$TEST_FILE"
end

function ft
    set TEST_FILE $(__dart_getTestFiles $argv)
    if test -z "$TEST_FILE"
        return
    end

    echo "flutter test $TEST_FILE"
    __add_history_entry "flutter test $TEST_FILE"
    flutter test "$TEST_FILE"
end
